h1{
   width: 100%;
   background-color: brown;
   color: #FFF;
   text-shadow: 3px 3px 10px #000;
   margin-top: 0px;
   display: flex;
   align-items: center;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}
